*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #ebdbc2;
}

header img{
    height: 120px;
}

.navbar{
    background-color: #ebdbc2;
}

.nav .nav-link.active{
    background-color: #2B4257;
    color: #ebdbc2;
}

.nav .nav-link,
.navbar-brand{
    color: #2B4257;
}

section{
    padding: 16px;
}

#quemsomos,#casos, #casos-pp2{
    background-color: #03273d;
    color: #ebdbc2;
}

#dentistas,#contato{
    background-color: #2B4257;
    color: #ebdbc2;
}

#quemsomos p{
    font-size: 13px;
    margin-bottom: 4px;
}

#dentistas img{
    height: 400px;
}

#dentistas h4{
    margin-top: 8px;
    margin-bottom: 2px;
}

section img,
#casos-pp2 img{
    border-radius: 12px;
}

#casos img{
    width: 100%;
}

.referencia{
    margin-top: 32px;
}

.referencia a{
    text-align: center;
    background-color: #ebdbc2;
    padding: 8px 0px;
    color: #03273d;
    border-radius: 6px;

}

.referencia a:hover{
    color: #03273d;
    background-color:#ebdbc2 ;
}

#contato h3{
    margin-top: 32px;
    margin-bottom: 16px;
}

.social-links li{
    list-style: none;
    display: inline;
    margin-right: 4px;

}

.social-links a{
    text-decoration: none;
}

.cor-logos{
    color: #ebdbc2;
}

footer{
    background-color: #ebdbc2;
    color: #2C4257;
    padding: 8px 0px;
}

#dentistas h2,
#casos h2{
    margin-bottom: 32px;
}

footer p{
    margin: 8px 0px;
}

.numero-telefone{
    text-decoration: none;
    color: #ebdbc2;
}

#casos-pp2 img{
    margin: 32px 0px;
}

@media (max-width: 767px){
    
    #quemsomos h2{
        margin: 8px 0px;
    }

    #dentistas h6{
        margin-bottom: 32px;
    }

    #casos img{
        width: 100%;
    }

    .numero-telefone{
        text-decoration: none;
        color: #ebdbc2;
    }


}

@media (min-width: 768px) and (max-width: 1023px){

    #quemsomos h2{
        margin: 16px 0px;
    }

    #quemsomos p{
        font-size: 18px;
    }

    #dentistas h6{
        margin-bottom: 32px;
    }

    #casos img{
        width: 100%;
    }

    .numero-telefone{
        text-decoration: none;
        color: #ebdbc2;
    }
}

